
.child{
    
    width:90px;
    /* border:solid 1px; */
    /* line-height: 20px; */
    text-align: center;
    padding:.5rem;
    display: flex;
    flex-direction: column-reverse;
    background: ghostwhite;
}

img{
    height:25px;
    width:25px;
}

.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.home{
    border-bottom: solid 3px blueviolet;
    background:rgba(170, 168, 168, 0.253);
}