.body{
margin:0;
}
.main_div{
    background:whitesmoke;
    height:100vh;
    /* width:200vh;  */
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
img.icon{
    height:30px;
    width:30px;
    border-radius:50%;
    background-color: white;
}
img{
    height:15px;
    width:15px;
    border-radius:50%;
    background-color: whitesmoke;
}
.chip{
    display:flex;
    /* justify-content:center; */
    align-items: center;
    background:whitesmoke;
    width:150px;
    border:solid 2px black;
    border-radius:70px;
    justify-content: space-around;
    height:32px;
    
}
.chips{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    height:40vh;
    width: 550px;
    background-color: white;
    padding:1rem;
}

.chip:hover{
    cursor:pointer;
    background-color: rgb(202, 198, 198);
}

h2{
    flex:1 550px;
    text-align:center;
}